/* 
 * STYLESHEET.CSS 
 * Stylesheet for LucidChart Experiment Application
 * Author: Mark Scott Lavin
 * Version 0.2
 * 
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

/* DESKTOP/MOBILE UI STYLES */

/* Default Cursor */

#renderSpace{
	cursor: crosshair;
}

/* End Default Cursor */

body {
	width: 100%;
	overflow: hidden;
}

#visualizationContainer {
	height: 100%;
	overflow: hidden;
	}

.panels{
	position:absolute;
	z-index: 10;
}

/* Main Navigation */

.topMenu{
	position: absolute;
	z-index: 10;
	width: 100%;
	max-width: 100%;
	top:0px;
	background-color: #ddd;
	cursor: pointer;
	box-shadow: -1px 1px 2px 1px #888;
}

.appTitle{ /*	width:auto;  */
	width: 300px;
	display:inline-block;
	padding-left:10px;
}

.saveBar-cell{
/*	width:auto;  */
	display: inline-block;
}

/* End Main Navigation */

/* Toolbars */

.toolbar{
	position: absolute;
	z-index: 20;
	max-width: 960px;
	left: 10px; 
	top:60px;
	background-color: #ddd;
	box-shadow: -1px 1px 2px 1px #888;
	cursor: pointer;
	border-radius:2px;
}

.toolbar-title{
	background-color:#888;
	color:#fff;
	border-radius:2px 2px 0 0;
	text-align: center;
	cursor: move;
}

.toolbar-cell{
/*	width:auto;  */
	width: 40px;
	height: 40px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.toolbar-cell img{
	width: 32px;
	height: 32px;
	
}

/* End Toolbars */

.panel {
	z-index: 10;
	width: 200px;
	background-color: #ddd;
	box-shadow: -1px 1px 2px 1px #888;
	cursor: pointer;
	border-radius:2px;
}

#theme {
	position: absolute;
	right: 10px;
	top: 60px;
	height: 400px;
}

#search {
	position:absolute;
	right: 10px;
	top: 440px;
	height: 150px;
}

#editNode {
	position: absolute;
	right: 220px;
	top: 60px;
	height: 350px;
}

.panel-title{
	background-color:#888;
	color:#fff;
	border-radius:2px 2px 0 0;
	text-align: center;
	cursor: move;
}

.panel-cell-md{
/*	width:auto;  */
	width: 40px;
	height: 40px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.panel-cell-lg{
/*	width:auto;  */
	width: 60px;
	height: 60px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.panel-cell-md img{
	width: 32px;
	height: 32px;
}

.panel-cell-lg img{
	width: 56px;
	height: 56px;
	
}

.panel-cell-label{
	width: 100px;
	height: 40px;
	padding: 1px 0px 1px 10px;
	display: inline-block;
}

/* context menu */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #595959;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 960px;
}

/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

/* SaveAsBox */

.saveAsBox,
.saveThemeAsBox {
  display: none;
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 20;
  padding: 12px 0;
  width: 360px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.saveAsBox--active,
.saveThemeAsBox--active {
  display: block;
}

/*  */

.pull-right{
	float: right;
	padding-right:5px;
	cursor: pointer;
}