/* 
 * STYLESHEET.CSS 
 * Stylesheet for LucidNodes Application
 * Author: Mark Scott Lavin
 * Version 0.2.3
 * 
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300); 

/* DESKTOP/MOBILE UI STYLES */

/* Default Cursor */

#renderSpace{
	cursor: crosshair;
}

/* End Default Cursor */

body {
	width: 100%;
	overflow: hidden;
	margin: 0;
}

#visualizationContainer {
	height: 100%;
	overflow: hidden;
	}

.panels{
	position:absolute;
	z-index: 10;
}

/* Main Navigation */

.topMenu{
	position: absolute;
	z-index: 10;
	width: 100%;
	max-width: 100%;
	top:0px;
	background-color: #ddd;
	cursor: pointer;
	box-shadow: -1px 1px 2px 1px #888;
}

.appTitle{ /*	width:auto;  */
	width: 300px;
	display:inline-block;
	padding-left:10px;
}

.saveBar-cell{
/*	width:auto;  */
	display: inline-block;
}

.topMenu-link{
	width: 70px;
	padding: 0px 100px;
	display: inline-block;
	float: right;
}

/* End Main Navigation */

/* Toolbars */

.toolbar{
	position: absolute;	
	max-width: 960px;	
	background-color: #ddd;
	box-shadow: -1px 1px 2px 1px #888;
	cursor: pointer;
	border-radius:2px;
}

.toolbar-title{
	background-color:#888;
	color:#fff;
	border-radius:2px 2px 0 0;
	text-align: center;
	cursor: move;
}

.toolbar-cell{
/*	width:auto;  */
	width: 40px;
	height: 40px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.toolbar-cell img{
	width: 32px;
	height: 32px;
	
}

#toolbar{
	z-index: 20;
	left: 10px; 
	top:60px;	
}

#guidebar{
	z-index: 20;
	left: 10px; 
	top:130px;	
}

/* End Toolbars */

.panel {
	z-index: 10;
	width: 200px;
	background-color: #ddd;
	box-shadow: -1px 1px 2px 1px #888;
	cursor: pointer;
	border-radius:2px;
}

#theme {
	position: absolute;
	right: 10px;
	top: 60px;
	height: 400px;
}

#loadFile,
#loadTheme {
	position: absolute;
	width: 450px;
/*	right: 815px;  */
	top: 400px;
	height: 280px;
}

#loadFile-panel-area,
#loadTheme-panel-area {
	margin:5px;
	padding:2px;
	height: 230px;
	border-radius:2px 2px 0 0;
	border: 1px #888 solid;	
	overflow: auto;
}

#loadFile-panel-area a:hover,
#loadTheme-panel-area a:hover{
	background-color: #AAA;
}

#search {
	position:absolute;
	right: 10px;
	top: 440px;
	height: 150px;
}

#editNode {
	position: absolute;
	right: 220px;
	top: 60px;
	height: 350px;
}

#media {
	position: absolute;
	right: 220px;
	top: 400px;
	height: 280px;
}

#panel-thumb-area {
	margin:5px;
	padding:2px;
	height: 205px;
	border-radius:2px 2px 0 0;
	border: 1px #888 solid;	
	overflow:auto;
}

.panel-title{
	background-color:#888;
	color:#fff;
	border-radius:2px 2px 0 0;
	text-align: center;
	cursor: move;
}

.panel-cell-md{
/*	width:auto;  */
	width: 40px;
	height: 40px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.panel-cell-lg{
/*	width:auto;  */
	width: 60px;
	height: 60px;
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
}

.panel-cell-md img{
	width: 32px;
	height: 32px;
}

.panel-cell-lg img{
	width: 56px;
	height: 56px;
	
}

.panel-thumb-cell{
	padding: 1px;
	display: inline-block;
	border: 1px #888 solid;
	background-color:#fff;
	border-radius: 2px;
/*	min-width: 79px;
	max-width: 79px;
	width: 75px; */
	overflow: hidden;
	text-align: center;
}

.panel-thumb img {
	min-width:75px;
	min-height:75px;
}

.panel-cell-label{
	width: 100px;
	height: 40px;
	padding: 1px 0px 1px 10px;
	display: inline-block;
}

/* context menu */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #595959;
  font-family: "Roboto", sans-serif; 
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 960px;
}

/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

/* SaveAsBox */

#saveCognitionAsBox,
#saveThemeAsBox {
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 20;
  padding: 12px 0;
  width: 360px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.dialog{
  display: none;
}

.dialog--active {
  display: block;
}

/*  */

.pull-right{
	float: right;
	padding-right:5px;
	cursor: pointer;
}

/* Image uploading */

.drop-zone{
	margin:5px;
	padding:2px;
	height: 60px;
	border-radius:2px 2px 0 0;
	border: 1px #888 dashed;
	text-align:center;
	vertical-align:center;
	background-color: #ddd;
}

#hiddenResponseCatcher{
	display:none;
}

/* Help Overlays */

.helpOverlay{
	width: auto;
	height: 90%;
	position: absolute;
	margin: 0;
	overflow-y: auto;
	padding: 0 10px;
	z-index: 30;
	background-color: #fff;
	box-shadow: 1px 1px 2px #888;	
}

.helpTable{
	table-layout:fixed;
}

.helpTable th{
	background-color: #ddd;
}

.helpTable td,
.helpTable th{
	padding: 0 10px;
}

.helpTable tr:nth-child(even) td{
	background-color: #eee;
}

.helpTable tr:nth-child(odd) td{
	background-color: #fff;
}

#enterVRButton {
	position: absolute;
	margin: 0;
	left: 87.5%;
	top: 90%;
	z-index: 20;  
}